*{
    margin: 0px;
    padding: 0px;
    /* overflow: hidden; */
}
body{
    background-image: url(/img/ABOUTP.jpg);
    background-size: cover;
}
h3{
    font-family: Cinzel Decorative;
    font-size: 25px;
    margin: 30px 100px;
    color:rgb(0, 0, 0);
}
a{
    margin: 0px 160px;
    text-decoration: none;
    font-size: 22px;
    color:rgb(99, 182, 182);
    font-family: didact gothic;
    background-color: black;
    border: 2px solid rgb(99, 182, 182);
    padding: 10px 10px;
    border-radius: 15px;
    transition: 0.2s;
}
a:hover{
    /* margin: 0px 300px; */
    text-decoration: none;
    font-size: 25px;
    color:black;
    font-family: didact gothic;
    background-color: rgb(99, 182, 182);
    border: 2px solid rgb(99, 182, 182);
    padding: 15px 15px;
    border-radius: 15px;
}
.foot{
background-color: rgb(99, 182, 182);
width: 100%;
text-align: center;
position: fixed;
left: 0px;
bottom: 0px;
}
.fo{
font-size: 15px;
font-family: raleway;
padding: 3px 3px;

}
