        *{
            margin: 0px;
            padding: 0px;
            /* overflow: hidden; */
        }
        body{
            background-image: url(/img/SIGN.jpg);
            background-size: cover;
        }
        .cb{
            margin: 30px 50px;
            padding: 25px 0px;
            /* border: 2px solid orange; */
            display: flex;
            flex-direction: row;
            width: 40%;
            justify-content: center;
            align-items: center;
            overflow: hidden;
        }
        .box{
            padding: 45px 40px;
            border: 2px solid rgb(248, 63, 63);
            justify-content: center;
            align-items: center;
            border-radius: 0px 25px  0px 25px;
        }
        .f{
            color: rgb(248, 63, 63);
            font-size: 23px;
            font-family: didact gothic;
        }
        a{
            margin: 50px 10px;
            text-decoration: none;
            font-size: 22px;
            color:rgb(248, 63, 63);
            font-family: didact gothic;
            background-color: black;
            border: 2px solid rgb(255, 23, 23);
            padding: 10px 10px;
            border-radius: 15px;
            transition: 0.2s;
        }
        a:hover{
            margin: 50px 10px;
            text-decoration: none;
            font-size: 25px;
            color:black;
            font-family: didact gothic;
            background-color: rgb(255, 23, 23);
            /* border: 2px solid rgb(248, 63, 63); */
            padding: 15px 15px;
            border-radius: 15px;
        }
        .log{
            display: inline;
            color: rgba(255, 0, 0, 0.815);
            font-family: Cinzel Decorative;
            font-size: 38px;
            /* margin: auto 800px; */
        }
        input{
            font-family: didact gothic;
            background-color: black;
            padding: 5px 50px;
            color:rgb(248, 63, 63);
        }
        ::placeholder{
            color:rgb(248, 63, 63);
        }
        .foot{
        background-color: rgb(248, 63, 63);
        width: 100%;
        text-align: center;
        position: fixed;
        left: 0px;
        bottom: 0px;
    }
    .fo{
        font-size: 15px;
        font-family: trebuchet ms;
        padding: 3px 3px;
        
    }